<p style="font-size:100%">
    
    Dear {{ expert_request.supervisor.first_name }},<br><br>

    An expert candidate has been approved for the request: <br><br>
    <ul>
    <li>Expert Profile Type: {{ expert_request.expert_profile_type }} <br>
    <li>Duty Station: {{ expert_request.duty_station }} <br>
    <li>Expert Title: {{ expert_request.expert.title }} <br>
    <li>Expert Name: {{ expert_request.expert.name }} <br>
    </ul>
 <br>
    
    Thank you.<br>
</p>

<p style="font-size:100%">This is an automatic email. Please do not reply.</p>

<p style="font-size:75%">Confidential Notice:<br>
The information contained in this email and its attachments is only for the use of the intended recipients, and may be strictly confidential and/or legally privileged. If the reader of this message is not the intended recipient, or employee or agent responsible to deliver it to the intended recipient, any unauthorised review, use, disclosure or distribution of the information is prohibited. If you have received this e-mail in error, please destroy all copies of the original message and any attachments.</p>