<p style="font-size:100%">
    
    Dear {{ expert_request.country_representative.first_name }},<br><br>
    
    You have a new expert request with the profile: {{ expert_request.expert_profile_type }} ready to be certified at <a href="{{ SMT_URL }}" target="top">{{ SMT_URL }}</a><br><br>
    
    Please make sure to read carefully the requirements and the information related to the request before certifying it.<br><br>
    
    Thank you.<br>
</p>

<p style="font-size:100%">This is an automatic email. Please do not reply.</p>

<p style="font-size:75%">Confidential Notice:<br>
The information contained in this email and its attachments is only for the use of the intended recipients, and may be strictly confidential and/or legally privileged. If the reader of this message is not the intended recipient, or employee or agent responsible to deliver it to the intended recipient, any unauthorised review, use, disclosure or distribution of the information is prohibited. If you have received this e-mail in error, please destroy all copies of the original message and any attachments.</p>