{% extends "crppdmt/base_site.html" %}
{% load i18n admin_static %}

{% load is_true %}

{% load admin_list %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "crppdmt/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">

    <div id="col_right" style="float:left;width:20%;margin-left:5px;">
        <div class="module unh-docs">
            <table style="width:100%;">
            <caption class="title-unh-docs">
                <div class="section">Actions</div>
                <div style="float:right;padding-right:18px;"></div>
            </caption>
            {% if person.is_expert %}
                <tr><td><a href="{% url 'upload_personal_info' %}" title="Upload Personal Documentation">Upload Personal Documentation</a></td></tr>
                <tr><td><a href="{% url 'communicate' %}" title="Communicate">Communicate</a></td></tr>
            {% endif %}
            </table>


            <table style="width:100%;">
                <caption class="title-unh-docs">
                    <div class="section">Documentation UN-Habitat</div>
                    <div style="float:right;padding-right:18px;"></div>
                </caption>
                <tr><td><a href="{% url 'retrieve_file' remote_folder='UN-HABITAT' remote_file='SMP-UserGuide-v1.0.pdf'  %}" target="blank">Secondments Management - User Guide</a></td></tr>
                <tr><td><a href="{% url 'retrieve_file' remote_folder='UN-HABITAT' remote_file='MOU_NRC_UN-Habitat.pdf'  %}" target="blank">MoU NRC - UN-Habitat</a></td></tr>
                <tr><td><a href="{% url 'retrieve_file' remote_folder='UN-HABITAT' remote_file='MOU_NRC_UN-Habitat_Checklist.pdf'  %}" target="blank">MoU NRC - UN-Habitat Checklist</a></td></tr>
                <tr><td><a href="{% url 'retrieve_file' remote_folder='UN-HABITAT' remote_file='MOU_NRC_UN-Habitat_Summary.pdf'  %}" target="blank">MoU NRC - UN-Habitat Summary</a></td></tr>
                <tr><td><a href="{% url 'retrieve_file' remote_folder='UN-HABITAT' remote_file='UN-Convention_Privileges_and_Immunities.pdf'  %}" target="blank">Privileges and Immunities</a></td></tr>
                <tr><td><a href="{% url 'retrieve_file' remote_folder='UN-HABITAT' remote_file='Consultants_and_Individual_Contractors_ST-AI-1999-7.pdf'  %}" target="blank">Consultants and Individual Contractors</a></td></tr>
                <tr><td><a href="{% url 'retrieve_file' remote_folder='UN-HABITAT' remote_file='Gratis_personnel_ST-AI-1999-6.pdf'  %}" target="blank">Gratis Personnel</a></td></tr>
            </table>

            <table style="width:100%;">
                <caption class="title-unh-docs">
                    <div class="section">Personal Information</div>
                    <div style="float:right;padding-right:18px;"></div>
                </caption>
                {% if personal_docs %}
                    {% for doc in personal_docs %}
                        <tr><td><a href="{% url 'retrieve_file' remote_folder=person.user.username remote_file=doc.name  %}" target="blank">{{ doc.title }}</a></td></tr>
                    {% endfor %}
                {% else %}
                    <tr><td>No related documents found.</td></tr>
                {% endif %}
            </table>
        </div>
    </div>

    <div id="list" style="float:left;width:78%;margin-left:9px;">

        <div class="module request">
            <table style="width:100%;">
                <thead>
                <tr style="width:100%;">
                    <th style="width:12%;">Title</th>
                    <th style="width:12%;">Project Name</th>
                    <th style="width:12%;">Duty Station</td>
                    <th style="width:12%;">Date of Deployment</td>
                    <th style="width:12%;">Request Status</th>
                    <th style="width:12%;">Alerts</th>
                    <th style="width:16%;text-align:center;">Actions</th>
                </tr>
                </thead>
                {% if request_list %}
                {% for request in request_list %}
                <tr class="section-{{ section.object_name|lower }}" style="width:100%;">
                        <td style="width:12%;">{{ request.title }}</td>
                        <td style="width:12%;">{{ request.project_name }}</td>
                        <td style="width:12%;">{{ request.duty_station }}</td>
                        <td style="width:12%;">{{ request.date_of_deployment|default_if_none:'' }}</td>
                        <td style="width:12%;">{{ request.status.name }}</td>
                        <td style="width:12%;"></td>
                        <td style="width:6%">
                            {% if person.is_expert %}
                                {% if not expert_request.is_in_status_closed %}
                                    {% if expert_request.is_in_status_deployment %}
                                        <a href="{% url 'deployment_date' expert_request_id=request.id expert_id=person.id%}" target="_blank" style="display: inline;">Set Deployment Date</a>
                                    {% endif%}
                                    <a href="{% url 'report_issue' expert_request_id=request.id%}" target="_blank" style="display: inline;">Report Issue</a>
                                    <a href="{% url 'inception_report' expert_request_id=request.id expert_id=person.id%}" target="_blank" style="display: inline;">Inception Report</a>
                                    <a href="{% url 'per' expert_request_id=request.id expert_id=person.id%}" target="_blank" style="display: inline;">PER</a>
                                {% endif %}
                            {% endif %}
                        </td>

                </tr>
                {% endfor %}
            </table>
                {% if request_list.paginator %}
                    <p class="paginator">
                            {% if request_list.has_previous %}
                            <span class="">
                                <a href="?page={{ request_list.previous_page_number }}"> Previous </a>
                            </span>
                            {% endif %}

                            <span class="this-page">
                                Page {{ request_list.number }} of {{ request_list.paginator.num_pages }}.
                            </span>

                            {% if request_list.has_next %}
                            <span class="">
                                <a href="?page={{ request_list.next_page_number }}"> Next </a>
                            </span>
                            {% endif %}
                    </p>
                {% endif %}
                {% else %}
            <table style="width:100%;">
                <tr class="section-{{ section.object_name|lower }}" style="width:100%;">
                    <td colspan="6">No related Expert Requests found.</td>
                </tr>
            </table>
                {% endif %}


        </div>

        <br>

    </div>

</div>

{% endblock %}

{% block sidebar %}
{% endblock %}
