{% extends "crppdmt/base_site.html" %}
{% load i18n admin_static %}
{% load set_context_var %}
{% load get_context_var %}
{% load selected_option_text %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "crppdmt/css/forms.css" %}"/>{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ assessment.name }} change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}

<div class="breadcrumbs">
    <a href="{% url 'index' %}">Home</a> &rsaquo;
    {{ section.name }}
</div>
{% endblock %}
{% endif %}


{% block content %}
<div id="content-main">



<form name="linkCandidateForm" action="{% url 'link_candidate' expert_request_id=expert_request.id %}" method="post" id="linkCandidateForm" enctype="multipart/form-data">{% csrf_token %}
<div>
    <fieldset class="module aligned">
        <div class="module" style="float:center;width:100%;">
            <table style="width:100%;">
            <caption>
                <div class="section">Link Candidate to Request</div>
            </caption>
             <tr>
                    <td>
                        <span class="required" style="display:inline;"><label>Expert Profile:</label></span>
                        {{ expert_request.expert_profile_type }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="required" style="display:inline;"><label>Duty Station:</label></span>
                        {{ expert_request.duty_station }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{form_link_candidate.candidate.errors}}
                        <span class="required">{{ form_link_candidate.candidate.label_tag }}</span>
                        {{ form_link_candidate.candidate }}<br><br><br>
                        <span class="helptext">If the candidate is not in the list please provide the required information below.</span>

                    </td>
                </tr>
            </table>
        </div>
    </fieldset>
    <div class="submit-row">
        <input class="default" type="submit" name="submitLinkCandidateForm" value="Link Candidate"></input>
    </div> <!-- submit row div -->
</div> <!-- form div -->
</form>



<form name="crppdmtform" action="" method="post" id="_form" enctype="multipart/form-data">{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{{ formset.management_form }}

<fieldset class="module aligned">
<!--  to render formsetv -->
        {% for form in formset %}
        {%comment%}
            preparing the form to be printed
            need to print form.id to avoid errors in post request
            rest of hiden fields
        {%endcomment%}
        {{form.id}}

        {% comment %}
        {% for field in form %}
            {% if field.errors %}
                {{field.label_tag}}
                {{field.errors}}
            {% endif %}
        {% endfor %}
        {% endcomment %}

        <div class="module" style="float:center;width:100%;">
            <table style="width:100%;">
            <caption>
                <div class="section">New Candidate and Link to Request</div>
            </caption>
            <tr>
                <td>
                    <span class="required" style="display:inline;"><label>Expert Profile:</label></span>
                    {{ expert_request.expert_profile_type }}
                </td>
            </tr>
            <tr>
                <td>
                    <span class="required" style="display:inline;"><label>Duty Station:</label></span>
                    {{ expert_request.duty_station }}
                </td>
            </tr>
            <tr>
                <td>
                    {{form.first_name.errors}}
                    <span class="required" style="display:inline;">{{ form.first_name.label_tag }}{{ form.first_name }}</span>
                </td>
            </tr>
            <tr>
                <td>
                    {{form.last_name.errors}}
                    <span class="required" style="display:inline;">{{ form.last_name.label_tag }}{{ form.last_name }}</span>
                </td>
            </tr>
            <tr>
                <td>
                    {{form.organization.errors}}
                    <div class="required" style="display:inline;">{{ form.organization.label_tag }}{% selected_option_text form.organization form.organization.value %}</div>
                </td>
            </tr>
            <tr>
                <td>
                    {{form.title.errors}}
                    <div class="required" style="display:inline;">{{ form.title.label_tag }}{{ form.title }}</div>
                </td>
            </tr>
            <tr>
                <td>
                    {{form.email.errors}}
                    <div class="required" style="display:inline;">{{ form.email.label_tag }}{{ form.email }}</div>
                </td>
            </tr>
            </table>
        </div>
        <div style="">
            {{ form.name.as_hidden }}
            {{ form.organization.as_hidden }}
            {{ form.roles.as_hidden }}
            {{ form.user.as_hidden }}
        </div>


        {% endfor %}


</fieldset>
<div class="submit-row">
    <input class="default" type="submit" name="submitNewExpertCandidateForm" value="Create and link Candidate"></input>
</div> <!-- submit row div -->
</div> <!-- form div -->
</form>


</div> <!-- content.main -->
{% endblock %}



