{% extends "crppdmt/base_site.html" %}
{% load i18n admin_static %}
{% load set_context_var %}
{% load get_context_var %}
{% load get_filename %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "crppdmt/css/forms.css" %}"/>{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ assessment.name }} change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}

<div class="breadcrumbs">
    <a href="{% url 'index' %}">Home</a> &rsaquo;
    {{ section.name }}
</div>
{% endblock %}
{% endif %}


{% block content %}
<div id="content-main">


<div class="module">
    <table style="width:100%">
        <caption class="title_indexcard">
            <div class="section">Edit Request </div>
            <div style="float:right;padding-right:18px;"></div>
        </caption>
    </table>
</div>


<form name="crppdmtform" action="" method="post" id="{{ request.supervisor.user.username }}_form" enctype="multipart/form-data">{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{{ formset.management_form }}
<!-- to render errors div-->
        {% if formset.errors %}
        <div class="">
        <p class="errornote">
            <!-- num_errors calculat en view -->
            {% if num_errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}

            <!-- prints validation ToR fields filled -->
            {% comment %}
            {% for dict in formset.errors %}
                {% for key, value in dict.items %}
                    {% if key == ToR_FIELDS %}
                    <ul class="errorlist">
                    <li>{{ value }}</li>
                    </ul>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            {% endcomment %}
            <!-- prints model errors, right style -->
            {% for dict in formset.errors %}
                {% for key, value in dict.items %}
                    {% if key == '__all__' or key == ToR_FIELDS %}
                    <ul class="errorlist">
                    <li>{{ value }}</li>
                    </ul>
                    {% endif %}
                {% endfor %}
            {% endfor %}

            {% comment %}
            <!-- it prints all errors, field errors included-->
            {% for dict in formset.errors %}
                {% if forloop.first%}
                    {% for error in dict.values %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endif %}
            {% endfor %}
            {% endcomment %}

        </p>

        </div>
        {% endif %}

<fieldset class="module aligned">
<!--  to render formsetv -->
        {% for form in formset %}
        {%comment%}
            preparing the form to be printed
            need to print form.id to avoid errors in post request
            rest of hiden fields
        {%endcomment%}
        {{form.id}}
        {{ form.request_creator.as_hidden }}
        {{ form.name.as_hidden }}
        {{ form.status.as_hidden }}
        {{ form.requesting_agency.as_hidden }}
        {{ form.date_of_closure_of_request.as_hidden }}
        {{ form.expert_profile_type.as_hidden }}
        {{ form.requested_agency.as_hidden }}

        {% comment %}
        {% for field in form %}
            {% if field.errors %}
                {{field.label_tag}}
                {{field.errors}}
            {% endif %}
        {% endfor %}
        {% endcomment %}

        {% if form.non_field_errors %} {{ form.non_field_errors}} {% endif %}

        <div class="module" style="float:left;width:49%;">
            <table style="width:100%;">
            <caption>
                <div class="section">Project Information</div>
            </caption>
            <tr>
                <td>
                    {{form.expert_profile_type.errors}}
                    <span class="required" style="display:inline;">{{ form.expert_profile_type.label_tag }}{{ expert_request.expert_profile_type.name }}</span>
                </td>
            </tr>

            <tr>
                <td>
                    {{form.project_name.errors}}
                    <span class="required" style="display:inline;">{{ form.project_name.label_tag }}{{ form.project_name }}</span>
                </td>
            </tr>
            <tr>
                <td>
                    {{form.project_code.errors}}
                    <div class="required" style="display:inline;">{{ form.project_code.label_tag }}{{ form.project_code }}</div>

                </td>
            </tr>
            <tr>
                <td>
                    {{form.project_document.errors}}
                    <span class="required">{{ form.project_document.label_tag }}</span>
                    <input id="chooseFile" class="uploadFile" type="button" name="upload" value="Choose File"></input>
                    {% if expert_request.project_document %}
                        <a id="linkFile" href="{% url 'retrieve_file' remote_folder=expert_request.name remote_file=expert_request.project_document|get_filename  %}" target="top">{{expert_request.project_document}}</a>
                        <input id="labelFile" disabled style="display:none;"></input>
                    {% else %}
                        <input id="labelFile" disabled></input>
                    {% endif %}
                    {{ form.project_document }}
                    <span class="help">Please provide PDF files not bigger than 2MB.</span>
                </td>
            </tr>
            </table>
        </div>



       <div class="module" style="float:right;width:49%;">
       <table style="width:100%;">
            <caption>
                <div class="section">Basic Information</div>
            </caption>
            <tr>
                <td>
                    {{form.status.errors}}
                    <span class="required">{{ form.status.label_tag }}</span>
                    {{ expert_request.status.name }}
                </td>
            </tr>
            <tr>
                <td>
                    {{form.title.errors}}
                    <span class="required" style="display:inline;">{{ form.title.label_tag }}{{ form.title }}</span>
                </td>
            </tr>
            <tr>
                <td>
                    {{form.country.errors}}
                    <span class="required">{{ form.country.label_tag }}</span>
                    {{ form.country }}
                </td>
            </tr>
            <tr>
                <td>
                    {{form.duty_station.errors}}
                    <span class="required">{{ form.duty_station.label_tag }}</span>
                    {{ form.duty_station }}
                </td>
            </tr>
            <tr>
                <td>
                    {{form.requested_date_of_deployment.errors}}
                    <span class="required">{{ form.requested_date_of_deployment.label_tag }}</span>
                    {{ form.requested_date_of_deployment }}
                    <span class="datetimeshortcuts"></span>&nbsp;&nbsp;
                    <span class="help">Date format: YYYY-MM-DD</span>
                </td>
            </tr>
            <tr>
                <td>
                    {{form.security_phase_in_duty_station.errors}}
                    <span class="required">{{ form.security_phase_in_duty_station.label_tag }}</span>
                    {{ form.security_phase_in_duty_station }}
                </td>
            </tr>
            <tr>
                <td>
                    {{form.requested_length_of_deployment.errors}}
                    <span class="required">{{ form.requested_length_of_deployment.label_tag }}</span>
                    {{ form.requested_length_of_deployment }}
                    <span class="help">&nbsp;&nbsp;Please set the length of the deployment in months.</span>
                </td>
            </tr>
            <tr>
                <td>
                    {{form.first_request.errors}}
                    <span class="required">{{ form.first_request.label_tag }}</span>
                    {{ form.first_request }}
                    <span class="help">&nbsp;&nbsp;Please set yes if it is the first request for the expert in this mission.</span>
                </td>
            </tr>
            <tr>
                <td>
                    {{form.extension.errors}}
                    <span class="required">{{ form.extension.label_tag }}</span>
                    {{ form.extension }}
                    <span class="help">&nbsp;Please do inform the duration in months of the extension (if not first request).</span>
                </td>
            </tr>
        </table>
        </div>

           <div class="module" style="width:49%;float:left;">
            <table style="width:100%;">
            <caption>
                <div class="section">People</div>
            </caption>
            <tr>
                <td>
                    {{form.supervisor.errors}}
                    <span class="required">{{ form.supervisor.label_tag }}</span>
                    {{ form.supervisor }}&nbsp;&nbsp;
                    <span class="help">Please select the Supervisor of the expert.</span>
                </td>
            </tr>
            <tr>
                <td>
                    {{form.country_representative.errors}}
                    <span class="required">{{ form.country_representative.label_tag }}</span>
                    {{ form.country_representative }}&nbsp;&nbsp;
                    <span class="help">Please select the Supervisor of the Supervisor of the expert.</span>
                </td>
            </tr>
            <tr>
                <td>
                    {{form.agency_hq_focal_point.errors}}
                    <span class="required">{{ form.agency_hq_focal_point.label_tag }}</span>&nbsp;&nbsp;<span class="help">{{ IF_OTHER_THAN_SUPERVISOR_HELP_TEXT }}</span>
                    {{ form.agency_hq_focal_point }}
                </td>
            </tr>
            <tr>
                <td>
                    {{form.agency_field_focal_point.errors}}
                    <span class="required">{{ form.agency_field_focal_point.label_tag }}</span>&nbsp;&nbsp;<span class="help">{{ IF_OTHER_THAN_SUPERVISOR_HELP_TEXT }}</span>
                    {{ form.agency_field_focal_point }}
                </td>
            </tr>
            </table>
       </div>

        <div style="clear:both;"></div>

        <div class="module" style="float:left;width:100%;;">
            <table style="width:100%;">
            <caption>
                <div class="section">ToR</div>
            </caption>
            <tr>
                <td style="width:40%;">
                    {{form.background_information.errors}}
                    {{ form.background_information.label_tag }}
                    {{ form.background_information }}
                </td>
                <td style="width:40%;">
                    {{form.objectives_and_scope.errors}}
                    <label>Specific objectives assigned to expert</label>
                    {{ form.objectives_and_scope }}
                </td>
            </tr>
            <tr>
                <td style="width:40%;">
                    {{form.expert_profile.errors}}
                    {{ form.expert_profile.label_tag }}
                    {{ form.expert_profile }}
                </td>
                <td style="width:40%;">
                    {{form.expected_outputs.errors}}
                    {{ form.expected_outputs.label_tag }}
                    {{ form.expected_outputs }}
                </td>
            </tr>
            <tr>
                <td style="width:40%;">
                    {{form.main_duties_and_responsibilities.errors}}
                    {{ form.main_duties_and_responsibilities.label_tag }}
                    {{ form.main_duties_and_responsibilities }}
                </td>
                <td style="width:40%;">
                    {{form.other_relevant_information.errors}}
                    {{ form.other_relevant_information.label_tag }}
                    {{ form.other_relevant_information }}
                </td>
            </tr>
            </table>
        </div>

        <div style="clear:both;"></div>

      <div style="width:100%;">
            <table style="width:100%;">
                <tr>
                    <td colspan="2" style="text-align:right;">
                        {{ form.send_to_supervisor.errors }}
                    </td>
                </tr>
                <tr>
                    <td style="width:88%;"></td>
                    <td class="required" style="width:10%;text-align:right;vertical-align:middle;">
                    </td>
                    <td style="width:2%;vertical-align:middle;">
                        {{ form.send_to_supervisor }}
                    </td>
                </tr>
            </table>
       </div>

        {% endfor %}


</fieldset>
</div> <!-- form div -->

<div class="submit-row">
    <input class="default" type="submit" name="_save" value="Save"></input>
    &nbsp;&nbsp;
    {% if expert_request.status.name = 'Preparation' %}
        <input class="default" type="button" name="_save1" value="Save and Send to Supervisor" onclick="sendToSupervisorAndSave();"></input>
    {% endif %}
    {% if expert_request.status.name = 'Supervision' %}
        <input class="default" type="button" name="_save1" value="Save and Send to Certifier" onclick="sendToSupervisorAndSave();"></input>
    {% endif %}
    {% if expert_request.status.name = 'Supervision' or expert_request.status.name = 'Certification' %}
        <input class="default" type="button" name="reject" value="Reject" onclick="rejectRequest('{{SMT_URL}}',{{expert_request.id}});"></input>
    {% endif %}
</div> <!-- submit row div -->

</div> <!-- content.main -->
{% endblock %}



